.task-form-todo {
    display: flex;
    margin: 20px;
}
.task-input-todo {
    width: 320px;
    padding: 3px 10px;
    border-radius: 3px;
}
.task-todo {
    display: flex;
    justify-content: space-between;
    border: 2px solid darkblue;
    border-radius: 5px;
    width: 33%;
    margin: 10px;
}
.task-todo p {
    margin: 3px 15px;
}
.btn-add-todo {
    margin: 0 20px;
    background: deepskyblue;
    border-radius: 5px;
    padding: 3px 15px;
}
.btn-remove-todo {
    width: 30px;
    height: 30px;
    font-size: 0;
    background: url("../../assets/images/remove.svg") 50% 50% no-repeat;
}