.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #A52A2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 90; /* Should be lower than backdrop */
}

.Toolbar nav {
    height: 100%;
}
.Toolbar .Logo {
    height: 80%;
}
