.NavigationItem {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;

    text-decoration: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: #B22222;
    border-bottom: 4px solid #7CFC00;
    color: white;
}